@model Recipe

<h3>Recipe Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Product ID</th>
        <th>Ingredient ID</th>
        <th>Quantity Required</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Product_ID</td>
        <td>@Model.Ingredient_ID</td>
        <td>@Model.Quantity_Required</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Recipe/UpdateRecipe/@Model.ID">Update Recipe</a>
</div>
